<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583467779679-j3atusgbrd7r7qao4mkhmiktrqc0p2mb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583467779679-j3atusgbrd7r7qao4mkhmiktrqc0p2mb</string>
	<key>API_KEY</key>
	<string>AIzaSyBmLGxje7awF3Usi1_mFbCfOveb9qluMAs</string>
	<key>GCM_SENDER_ID</key>
	<string>583467779679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DirectionTorture.kokopokePJ</string>
	<key>PROJECT_ID</key>
	<string>kokopoke-2effb</string>
	<key>STORAGE_BUCKET</key>
	<string>kokopoke-2effb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583467779679:ios:7d1b9760d68f1c38b53dea</string>
	<key>DATABASE_URL</key>
	<string>https://kokopoke-2effb.firebaseio.com</string>
</dict>
</plist>